{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container wrapper flex-grow-1">
    {% include 'messages.html' %}
    <h1 class="my-4">{% translate 'Statuses' %}</h1>
    <a class="nav-link" href="{% url 'status_create' %}">{% translate 'New status' %}</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% translate 'Name' %}</th>
                <th scope="col">{% translate 'Date Created' %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <th scope="row">{{status.id}}</th>
                <td>{{status.name}}</td>
                <td>{{status.date_created}}</td>
                <td>
                    <a href="{% url 'status_update' status.id %}">{% translate 'Update' %}</a>
                    <br/><a href="{% url 'status_delete' status.id %}">{% translate 'Delete' %}</a>
                </td>
            </tr>              
            {% endfor %}
        </tbody>            
    </table>        
</main>
{% endblock content %}