{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <main role="main" class="container wrapper flex-grow-1">
        <div class="card-body p-5 bg-light mt-5">
            <h1>{% translate 'Hello from Hexlet' %}</h1>
            <p class="lead">{% translate 'Practical coding learning courses.' %}</p>
            <hr/>
            <a class="btn btn-lg btn-primary" href="https://ru.hexlet.io/" role="button">{% translate 'Learn more' %}</a>
        </div>
    </main>
{% endblock content %}