{% load i18n bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <title>{% translate 'Hexlet Task Manager' %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{% translate 'Task Manager' %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">{% translate 'Users' %}</a>
                    </li>
                </ul>
                <span>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% translate 'Sign in' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% translate 'Sign up' %}</a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </nav>
    
    <main role="main" class="container wrapper flex-grow-1">
        <div class="card-body p-5 bg-light mt-5">
            <h1>{% translate 'Hello from Hexlet' %}</h1>
            <p class="lead">{% translate 'Practical coding learning courses.' %}</p>
            <hr/>
            <a class="btn btn-lg btn-primary" href="https://ru.hexlet.io/" role="button">{% translate 'Learn more' %}</a>
        </div>
    </main>

    <footer>
        <div class="container my-5 pt-4 border-top">
            <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
        </div>
    </footer>
</body>
</html>