{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<main role="main" class="container wrapper flex-grow-1">
    {% include 'messages.html' %}
    <h1 class="my-4">{{ title }}</h1>
    <a class="nav-link" href="{% url app_name|add:':obj_create' %}">{{ new_obj_text }}</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% translate 'Name' %}</th>
                <th scope="col">{% translate 'Date Created' %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in objects %}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.date_created}}</td>
                <td>
                    <a href="{% url app_name|add:':obj_update' item.id %}">{% translate 'Update' %}</a>
                    <br/><a href="{% url app_name|add:':obj_delete' item.id %}">{% translate 'Delete' %}</a>
                </td>
            </tr>              
            {% endfor %}
        </tbody>            
    </table>        
</main>
{% endblock content %}